<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>http://localhost/</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>hola</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UCAP-MainConnectionString2" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="persistsecurityinfo=True;server=ucap.cfqaouqaacej.us-east-1.rds.amazonaws.com;user id=DBGod;password=J!J!S_!AG!G-2020y;database=UCAP-Main;allowzerodatetime=True;convertzerodatetime=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UCAP-MainConnectionString2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="persistsecurityinfo=True;server=ucap.cfqaouqaacej.us-east-1.rds.amazonaws.com;user id=DBGod;password=J!J!S_!AG!G-2020y;database=UCAP-Main;allowzerodatetime=True;convertzerodatetime=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="UCAP-MainConnectionString3" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="persistsecurityinfo=True;server=ucap.cfqaouqaacej.us-east-1.rds.amazonaws.com;user id=DBGod;password=J!J!S_!AG!G-2020y;database=UCAP-Main;allowzerodatetime=False;convertzerodatetime=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UCAP-MainConnectionString3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="persistsecurityinfo=True;server=ucap.cfqaouqaacej.us-east-1.rds.amazonaws.com;user id=DBGod;password=J!J!S_!AG!G-2020y;database=UCAP-Main;allowzerodatetime=False;convertzerodatetime=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="UCAP-MainConnectionString4" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="password=J!J!S_!AG!G-2020y;persistsecurityinfo=True;user id=DBGod;server=ucap.cfqaouqaacej.us-east-1.rds.amazonaws.com;database=UCAP-Main;convertzerodatetime=True;allowzerodatetime=False;allowuservariables=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UCAP-MainConnectionString4_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="password=J!J!S_!AG!G-2020y;persistsecurityinfo=True;user id=DBGod;server=ucap.cfqaouqaacej.us-east-1.rds.amazonaws.com;database=UCAP-Main;convertzerodatetime=True;allowzerodatetime=False;allowuservariables=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="UCAP-MainConnectionString" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="persistsecurityinfo=True;server=ucap.cfqaouqaacej.us-east-1.rds.amazonaws.com;user id=DBGod;password=J!J!S_!AG!G-2020y;database=UCAP-Main" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UCAP-MainConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="persistsecurityinfo=True;server=ucap.cfqaouqaacej.us-east-1.rds.amazonaws.com;user id=DBGod;password=J!J!S_!AG!G-2020y;database=UCAP-Main" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UCAP-MainConnectionString-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UCAP-MainConnectionString2-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UCAP-MainConnectionString3-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UCAP-MainConnectionString4-Web.config Connection String" />
  </ItemGroup>
</Project>